<div id="medicationSearchResultComponent">
	
	<h1>medication result</h1>
	

	<ul class="list-group">
		<li class="list-group-item" ng-repeat="(key, result) in vm.medicationSearchForm.searchResults">
			<span data-toggle="collapse" data-target="#collapse{{ key }}">{{ key }} </span>
			<span class="badge" ng-class="(result.length == 0) ? 'badge-danger':'badge-success'">{{ result.length }}</span>

			<!-- contents here -->
			<div class="collapse" id="collapse{{ key }}">
				<ul class="list-group">
					<li ng-repeat="data in result" class="list-group-item list-group-item-dark">
						<div>{{ data.displayName }}</div>
						<div>{{ data.id }}</div>
						<div>{{ data.appearance }}</div>
					</li>
				</ul>
			</div>
		</li>
	</ul>
	
	
</div>