<div id="medicationSearchFormComponent">
	
	<h1>medication search</h1>


	<form name="medicationSearchForm">
		<div class="form-group">
			<label class="col-sm-1">Username</label>
			<input type="text" name="username" ng-model="vm.medicationSearchForm.username" />
		</div>
		
		<div class="form-group">
			<label class="col-sm-1">Password</label>
			<input type="password" name="password" ng-model="vm.medicationSearchForm.password" />
		</div>

		<div class="form-group">
			<textarea name="searchTerms" ng-model="vm.medicationSearchForm.searchTerms" cols="100" rows="3"></textarea>
		</div>
		

		<!-- Search Button -->
		<button ng-click="vm.searchMedications()">
			Search
		</button>
	</form>
	
	
	
	
</div>