<div id="medicationSearchPage">

	<medication-search-form-component></medication-search-form-component>

	<medication-search-result-list-component></medication-search-result-list-component>

	<medication-search-result-component></medication-search-result-component>
	
	
	
</div>