<div id="medicationSearchResultListComponent">
	
	<h1>result list</h1>


	<div class="row col-sm-12">
		<!-- list of search terms with no results -->
		<div id="missingList" class="col-sm-6">
			<span class="badge badge-danger">
				{{ vm.medicationSearchForm.emptyResultsCount }} Missing
			</span>
			<ul>
				<li ng-repeat="(key, result) in vm.medicationSearchForm.searchResults" ng-if="result.length == 0" ng-init="vm.emptyResultsCountIncrement()">{{ key }}</li>
			</ul>
		</div>

		<!-- list of search terms with results -->
		<div id="foundList" class="col-sm-6">
			<span class="badge badge-success">
				{{ vm.medicationSearchForm.nonEmptyResultsCount }} Found
			</span>
			<ul>
				<li ng-repeat="(key, result) in vm.medicationSearchForm.searchResults" ng-if="result.length > 0" ng-init="vm.nonEmptyResultsCountIncrement()">{{ key }}</li>
			</ul>
		</div>
	</div>
	
	
	
	
</div>